AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
DATABASE_POOL_SIZE=
DEVISE_PEPPER=
DEVISE_SECRET_KEY=
IA_ACCESS_KEY_ID=
IA_SECRET_ACCESS_KEY=
MAIL_FROM=
MAIL_HOST=
OPEN_CALAIS_API_KEY=
SHORYUKEN_DELAY=
SIDEKIQ_DATABASE_POOL_SIZE=
YAHOO_CONTENT_ANALYSIS_API_KEY=
YAHOO_CONTENT_ANALYSIS_API_SECRET=
WORKER_LIB=
WORKER_COUNT=
