DEVISE_SECRET_KEY=
DEVISE_PEPPER=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
IA_ACCESS_KEY_ID=
IA_SECRET_ACCESS_KEY=
OPEN_CALAIS_API_KEY=
YAHOO_CONTENT_ANALYSIS_API_KEY=
YAHOO_CONTENT_ANALYSIS_API_SECRET=
WORKER_LIB=
MAIL_HOST=
MAIL_FROM=
